AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    ## STOP REFERRERSPAM ##
    RewriteCond %{HTTP_REFERER} ^([^.]+.)*?simple-share-buttons\.com [NC,OR]
    RewriteCond %{HTTP_REFERER} ^([^.]+.)*?free-share-buttons\.com [NC,OR]
    RewriteCond %{HTTP_REFERER} ^([^.]+.)*?Get-Free-Traffic-Now\.com [NC,OR]
    RewriteCond %{HTTP_REFERER} ^([^.]+.)*?site4.free-share-buttons\.com [NC,OR]
    RewriteCond %{HTTP_REFERER} ^([^.]+.)*?forum.topic60336278.darodar\.com [NC]
    RewriteRule .* – [F]
    ## STOP REFERRER SPAM ##
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>
